#progress-bar-container {
    padding: 10px;
    border: 2px solid silver;
}

.progress__bar {
    position: relative;
    border-top: 1px solid rgb(33, 68, 33);
}

.progress__slider {
    cursor: pointer;

    height: 100%;
    
    position: relative;
}

.progress__duration {
    
}

.progress__marker {
    background-color: rgb(33, 68, 33);
    
    position: absolute;

    top: 0;

    height: 10px;
    width: 1px;
}