#progress-bar-container * {
  box-sizing: border-box;
  font-family: Roboto;
}

#progress-bar-container {
    border: 2px solid silver;

    padding: 10px;
}

.vrs-progress__bar {
    background-color: #eeeeee;
    border: 1px solid silver;
    border-top: 1px solid rgba(0, 0, 0, .8);

    height: 50px;

    margin-bottom: 35px;

    position: relative;

    /* overflow: hidden; */
}

.vrs-progress__slider {
    background-color: #f01d72;
    cursor: pointer;

    height: 100%;
    
    position: relative;
}

    .vrs-progress__thumb {
      background-color: #777777;
      border-radius: 4px;
      border-top-left-radius: 14px;
      border-top-right-radius: 14px;
      
      position: absolute;
      bottom: -28px;
      left: calc(50% - 9px);

      height: 24px;
      width: 18px;
    }

    .vrs-progress__thumb::before {
      border: 5px solid transparent;
      border-bottom-color: #777777;

      content: '';

      position: absolute;
      top: -8px;
      left: calc(50% - 5px);

      height: 0;
      width: 0;
    }

.vrs-progress__marker {
    background-color: rgba(0, 0, 0, .8);
    
    position: absolute;

    top: 0;

    height: 10px;
    width: 1px;
}

.vrs-progress__marker--tall {
    height: 30px;
}

/*
 ================ restyling of the range input (#DURATION slider) /c-ped from somewhere/
*/

.vrs-progress__duration {
    display: block;

    margin: 10px 0 0 0;
}

input[type=range] {
    -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
    width: 100%; /* Specific width is required for Firefox. */
    background: transparent; /* Otherwise white in Chrome */
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
}

input[type=range]:focus {
    outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}

input[type=range]::-ms-track {
    width: 100%;
    cursor: pointer;

    /* Hides the slider so custom styles can be added */
    background: transparent; 
    border-color: transparent;
    color: transparent;
}

/* Special styling for WebKit/Blink */
input[type=range]::-webkit-slider-thumb {
    background: #346d37;
    -webkit-appearance: none;
    height: 16px;
    width: 45px;
    border-radius: 3px;
    cursor: pointer;
  }
  
  /* All the same stuff for Firefox */
  input[type=range]::-moz-range-thumb {
    background: #346d37;
    height: 16px;
    width: 45px;
    border-radius: 3px;
    cursor: pointer;
  }
  
  /* All the same stuff for IE */
  input[type=range]::-ms-thumb {
    background: #346d37;
    height: 16px;
    width: 45px;
    border-radius: 3px;
    cursor: pointer;
  }

  /* SLIDER TRACK */

  input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 16px;
    cursor: pointer;
    background:  linear-gradient(60deg, #66bb6a, #43a047);
    border-radius: 1.3px;
  }
  
  input[type=range]:focus::-webkit-slider-runnable-track {
    background: linear-gradient(60deg, #66bb6a, #43a047);
  }
  
  input[type=range]::-moz-range-track {
    width: 100%;
    height: 16px;
    cursor: pointer;
    background: linear-gradient(60deg, #66bb6a, #43a047);
    border-radius: 1.3px;
  }
  
  input[type=range]::-ms-track {
    width: 100%;
    height: 16px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    border-width: 16px 0;
    color: transparent;
  }
  input[type=range]::-ms-fill-lower {
    background: linear-gradient(60deg, #66bb6a, #43a047);
    border-radius: 2.6px;
  }
  input[type=range]:focus::-ms-fill-lower {
    background: linear-gradient(60deg, #66bb6a, #43a047);
  }
  input[type=range]::-ms-fill-upper {
    background: linear-gradient(60deg, #66bb6a, #43a047);
    border-radius: 2.6px;
  }
  input[type=range]:focus::-ms-fill-upper {
    background: linear-gradient(60deg, #66bb6a, #43a047);
  }

/*
 ================ #TIMERS ================
*/

.vrs-progress__timer {
  border-left: 1px solid silver;
  /* box-shadow: 2px 2px 10px #ccc; */

  padding: 0;
  margin-right: 10px;
  margin-top: 10px;

  display: inline-block;
}

.vrs-progress__label {
  border-bottom: 1px solid silver;
  display: block;

  color: #777;
  font-size: 16px;
  
  padding: 5px 10px;
}

.vrs-progress__time {
  display: block;

  font-size: 20px;

  padding: 5px 10px;
}
