#progress-bar-container {
    position: relative;
}

.progress__bar {
    border-top: 1px solid rgb(33, 68, 33);
}

.progress__slider {
    cursor: pointer;

    height: 100%;
    
    position: relative;
}

.vrs-slider-marker {
    background-color: rgb(33, 68, 33);
    
    position: absolute;

    top: 0;

    height: 10px;
    width: 1px;
}